.white-bg {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 0.5px 0.5px 0.5px 0px;
}

.left-form {
    -fx-background-color: linear-gradient(to bottom right, #2f3f89, #9231b5);
    -fx-border-color: #000;
    -fx-border-width: 0.5px 0px 0.5px 0.5px;
}

.textfile {
    -fx-background-color: transparent;
    -fx-border-color: #3395f1;
    -fx-border-width: 0px 0px 0.8px 0px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
    -fx-cursor: text;
}

.textfile:focused {
    -fx-border-color: linear-gradient(to bottom right, #2f3f89, #923165);
    -fx-border-width: 0px 0px 1.5px 0px;
}

.login-btn {
    -fx-background-color: linear-gradient(#4885da, #224e75);
    -fx-background-radius: 20px 5px 20px 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-family: "Tahoma";
}

.login-btn:hover {
    -fx-background-color: linear-gradient(#649de4, #3e78a7);
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #e03f5a;
}


